@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rubik&display=swap");

body {
  background-image: url("./asset/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 5px 10px #000;
}

.hope {
  padding-bottom: 1rem;
  font-size: 30px;
}
.content {
  font-size: 40px;
  text-align: center;
}
div .title {
  font-size: 25px;
}
div .subTitle {
  font-size: 30px;
}
div .text {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    font-size: 120px;
  }
  div .title {
    font-size: 80px;
  }
  div .subTitle {
    font-size: 100px;
  }
}
